<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    #email {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100;
      color: white;
      background-color: #353535;
      text-align: center;
    }
    .subtitle {
      padding: 10px 0;
    }
    .tipodereserva {
      font-size: 50px;
      text-align: center;
      padding: 10px 0;
    }
    .salon {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .npersonas {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .date {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .time {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .nombrecompleto {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .dni {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .email {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .celular {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .serviciosadicionalesdiv {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .serviciosadicionalesitems {
      font-size: 18px;
      text-align: center;
      padding: 5px 0;
    }
    .mododefacturacion {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .comentario {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .logo {
      background-image: url("http://i64.tinypic.com/2r2m32q.png"); 
      background-repeat: no-repeat;
      background-position: center; 
      background-size: contain;
      height: 100px;
      width: auto;
    }
  </style>
</head>
<body>
  <div id="email">
    <br/>
    <br/>
    <div class="logo">
    </div>
    <br/>
    <div class="tipodereserva"> <span>Tipo de reserva: </span> {{tipodereserva}} </div>
    <br/>
    <div class="subtitle">Datos de la reserva:</div>
    <div class="salon"> <span>Salón: </span>{{salon}}</div> 
    <div class="npersonas"> <span>Número de personas: </span> {{npersonas}}</div>
    <div class="date"> <span>Fecha: </span>{{date}}</div> 
    <div class="time"> <span>Hora: </span> {{time}}</div> 
    <div>
      <div class="serviciosadicionalesdiv"><span>Servicios adicionales:</span> </div>
      <div class="serviciosadicionalesitems">
        {{#serviciosadicionales}}
        <div>* {{.}}</div>
        {{/serviciosadicionales}}    
      </div>
    </div>
    <br/>
    <div class="subtitle">Datos del cliente:</div>
    <div class="nombrecompleto"> <span>Nombre completo: </span>{{nombre}}</div> 
    <div class="celular"> <span>Teléfono o celular: </span>{{phone}}</div>
    <div class="dni"> <span>DNI: </span>{{dni}}</div> 
    <div class="email"> <span>E-mail: </span>{{email}}</div>
    <div class="mododefacturacion"> <span>Modo de facturación: </span>{{tipodefacturacion}}</div>
    <br/>
    <div class="subtitle">Comentarios del cliente:</div>
    <div class="comentario">{{comentarios}}</div>
    <br/>
    <br/>
  </div>
</body>
</html>
