<template>
  <v-container 
    id="forms" 
    style="padding:0; margin:0"
    class="white--text fontreservas"
    fluid
  >
  <v-layout row wrap align-top align-content-center justify-center>
		<v-flex xs12 sm12 md12 class="text-xs-center reservastitle" style="padding: 0 2% 2% 2%; ">
			<span class="dincondensed">R</span>
      <span class="dincondensed">E</span>
      <span class="bodoni72">S</span>
      <span class="dincondensed">E</span>
      <span class="dincondensed">R</span>
      <span class="dincondensed">V</span>
      <span class="bodoni72">A</span>
      <span class="dincondensed">S</span>
		</v-flex>
    <v-flex xs9 sm5 md3 class="text-xs-center" style="padding: 0 2% 0 2%">
      <div>
          <v-select
            prepend-icon="adjust"
            color="white"
            :items="salones"
            :filter="customFilter"
            v-model="a1"
            item-text="name"
            label="Salones"
            autocomplete
            @input="updateReservaCost(a1)"
            @blur="$v.a1.$touch()"
            :error-messages="a1Errors"
            required
            dark
          ></v-select>
        </div>
        <div>
          <v-layout row wrap align-center align-content-center justify-center>
            <v-flex xs3 class="text-xs-left" style="padding-right: 2vh">
              <v-btn icon @click="decrement" dark style="margin:0">
                <v-icon>fa-minus</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <v-text-field
                color="white"
                class="text-xs-center"
                label="N° personas"
                :error-messages="countErrors"
                :value="count"
                v-model="count"
                @input="$v.count.$touch()"
                @blur="$v.count.$touch()"
                dark
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs3 class="text-xs-right" style="padding-left: 2vh">
              <v-btn icon @click="increment" dark style="margin:0">
                <v-icon>fa-plus</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </div>
        <div>
				<v-select
          prepend-icon="favorite"
					color="white"
          :items="tipodereserva"
          :value="type"
					v-model="type"
					@input="$v.type.$touch()"
          item-text="name"
          label="Tipo de reserva"
					:error-messages="typeErrors"
					@blur="$v.type.$touch()"
          autocomplete
					required
					dark
        ></v-select>
			</div>
			<div>			
				<div v-if="typename == 'Corporativa'">
					<v-layout row wrap align-center align-content-center justify-center style="margin-bottom: 2vh">
						<v-flex xs6 class="text-xs-center" style="padding: 0 2% 0 2%">
							<v-checkbox 
								v-model="checkbox"
								label="Fotos"
								value="Fotos"
								dark
								color="yellow lighten-2"
                hide-details
							></v-checkbox>
						</v-flex>
						<v-flex xs6 class="text-xs-center" style="padding: 0 2% 0 2%">
							<v-checkbox
								v-model="checkbox"
								label="Diseño"
								value="Diseño"
								dark
								color="yellow lighten-2"
                hide-details
							></v-checkbox>
						</v-flex>
						<v-flex xs12 class="text-xs-center" style="padding: 0 2% 0 2%">
							<v-checkbox
								v-model="checkbox"
								label="Presencia de marca"
								value="Presencia de marca"
								dark
								color="yellow lighten-2"
                hide-details
							></v-checkbox>
						</v-flex>
					</v-layout>
				</div>
			</div>
        
        <v-dialog
          ref="dialog"
          persistent
          v-model="modal"
          lazy
          full-width
          width="290px"
          :return-value.sync="date"
        >
          <v-text-field
            color="white"
            slot="activator"
            label="Fecha"
            v-model="date"
            prepend-icon="event"
            readonly
            :error-messages="dateErrors"
            @input="$v.date.$touch()"
            @blur="$v.date.$touch()"
            required
            dark
          ></v-text-field>
          <v-date-picker
            dark
            v-model="date" 
            :min="today" 
            no-title 
            scrollable 
            @input="$refs.dialog.save(date)"
          >
            <v-spacer></v-spacer>
            <v-btn flat dark @click="modal = false">Cancelar</v-btn>
            <v-btn flat dark @click="$refs.dialog.save(date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
        <v-dialog
          ref="dialog2"
          v-model="modal2"
          :return-value.sync="time"
          persistent
          lazy
          full-width
          width="290px"
        >
          <v-text-field
            color="white"
            slot="activator"
            v-model="time"
            label="Hora"
            prepend-icon="access_time"
            readonly
            :error-messages="timeErrors"
            @input="$v.time.$touch()"
            @blur="$v.time.$touch()"
            required
            dark
          ></v-text-field>
          <v-time-picker v-model="time" actions dark>
            <v-spacer></v-spacer>
            <v-btn flat dark @click="modal2 = false">Cancelar</v-btn>
            <v-btn flat dark @click="$refs.dialog2.save(time)">OK</v-btn>
          </v-time-picker>
        </v-dialog>
        
    </v-flex>
    <v-flex xs9 sm5 md3 class="text-xs-center" style="padding: 0 2% 0 2%">
			<v-text-field
          prepend-icon="person"
					color="white"
          label="Nombre Completo"
          v-model="name"
          :error-messages="nameErrors"
          :counter="30"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
          required
					dark
        ></v-text-field>
				<v-text-field
          prepend-icon="phone"
					color="white"
        	label="Celular"
          v-model="phone"
          :error-messages="phoneErrors"
          @input="$v.phone.$touch()"
          @blur="$v.phone.$touch()"
          required
					dark
        ></v-text-field>
				<v-text-field
          prepend-icon="fa-id-card"
					color="white"
        	label="DNI"
          v-model="dni"
          :error-messages="dniErrors"
          @input="$v.dni.$touch()"
          @blur="$v.dni.$touch()"
          required
					dark
        ></v-text-field>
        <v-text-field
          prepend-icon="mail"
					color="white"
          label="Correo electrónico"
          v-model="email"
          :error-messages="emailErrors"
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
          required
					dark
        ></v-text-field>
      <div>
				<v-select
          prepend-icon="fa-file-alt"
					color="white"
          :items="modofacturacion"
          v-model="a3"
          item-text="name"
          label="Modo de Recibo"
					:error-messages="a3Errors"
					@blur="$v.a3.$touch()"
					@input="$v.a3.$touch()"
          required
          autocomplete
					dark
        ></v-select>
			</div>
    </v-flex>
    <v-flex xs9 sm5 md3 class="text-xs-center" style="padding: 0 2% 0 2%">
      <v-text-field
          multi-line
					color="white" 
					box 
					label="Comentarios"
					dark
          hide-details
				></v-text-field>
			<v-layout row wrap align-top align-content-center justify-center style="margin: 3vh 0">
				<v-flex xs9 class="text-xs-right">
					Costo en consumo
				</v-flex>
				<v-flex xs3 class="text-xs-right">
					S/ {{costoconsumo}}
				</v-flex>
        <div style="padding-bottom: 5vh"></div>
				<v-flex xs9 class="text-xs-right">
					Costo de reserva
				</v-flex>
				<v-flex xs3 class="text-xs-right">
					S/ {{costoreserva}}
				</v-flex>
        <div style="padding-bottom: 5vh"></div>
				<v-flex xs9 class="text-xs-right">
					Costo de Servicios Adicionales
				</v-flex>
				<v-flex xs3 class="text-xs-right">
					S/ {{costoadicionales}}
				</v-flex>
         <div style="padding-bottom: 5vh"></div>
        <p style="border-bottom: 0.2vh solid white; width:100%"></p>
				<v-flex xs9 class="text-xs-right">
				  <strong> Costo Total </strong> 
				</v-flex>
				<v-flex xs3 class="text-xs-right">
					<strong> S/ {{costototal}} </strong> 
				</v-flex>
			</v-layout>
    </v-flex>
  </v-layout>
	<v-layout row wrap align-top align-content-center justify-center class="pt-4">
		<v-btn flat color="red" class="btns" :to='home'>Cancelar</v-btn>
    <v-btn flat color="white" @click="clear" class="btns">Restaurar</v-btn>
    <v-btn color="yellow" @click="submit" class="btns"> Proceder con la reserva </v-btn>
	</v-layout>
  </v-container>
</template>
<script>
import idcard from '../assets/icons/id-card.svg'
import { mapActions, mapState, mapMutations } from 'vuex'
import { validationMixin } from 'vuelidate'
import {
  required,
  maxLength,
  minLength,
  email,
  numeric,
  maxValue
} from 'vuelidate/lib/validators'
export default {
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(30) },
    email: { required, email },
    phone: { required, numeric, minLength: minLength(9) },
    dni: { required, numeric, maxLength: maxLength(8) },
    checkbox: { required },
    date: { required },
    time: { required },
    a1: { required },
    a3: { required },
    type: { required },
    count: { required, numeric, maxValue: maxValue(50) }
  },
  components: {},
  data () {
    return {
      idcard: idcard,
      home: '/',
      today: new Date()
        .toJSON()
        .slice(0, 10)
        .replace(/-/g, '-'),
      e1: 1,
      steps: 2,
      name: '',
      email: '',
      phone: '',
      dni: '',
      quantity: '',
      items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
      date: null,
      modal: false,
      time: null,
      modal2: false,
      a1: null,
      salones: [
        { name: '911', abbr: '91', costo: 100, id: 1 },
        { name: 'DaDoors', abbr: 'DD', costo: 200, id: 2 },
        { name: 'El Altillo', abbr: 'EA', costo: 300, id: 3 },
        { name: 'El Gran Vidrio', abbr: 'EG', costo: 400, id: 4 },
        { name: 'El Patio de Atrás', abbr: 'EP', costo: 500, id: 5 },
        { name: 'Havana', abbr: 'HA', costo: 600, id: 6 },
        { name: 'La Cúpula', abbr: 'LC', costo: 700, id: 7 },
        { name: 'La Terraza', abbr: 'LT', costo: 800, id: 8 },
        { name: 'London Calling', abbr: 'LC', costo: 900, id: 9 },
        { name: 'Mercury Room', abbr: 'MR', costo: 1000, id: 10 },
        { name: 'White and Black', abbr: 'WB', costo: 1100, id: 11 }
      ],
      customFilter (item, queryText, itemText) {
        const hasValue = val => val != null ? val : ''
        const text = hasValue(item.name)
        const query = hasValue(queryText)
        return text.toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
      },
      a2: null,
      tipodereserva: [
        { name: 'Corporativa', abbr: 'CO', id: 1 },
        { name: 'General', abbr: 'GE', id: 2 }
      ],
      a3: null,
      modofacturacion: [
        { name: 'Boleta', abbr: 'BO', id: 1 },
        { name: 'Factura', abbr: 'FA', id: 2 }
      ]
    }
  },
  watch: {},
  computed: {
    checkboxErrors () {
      const errors = []
      if (!this.$v.checkbox.$dirty) return errors
      !this.$v.checkbox.required &&
        errors.push('¡Debes estar de acuerdo para continuar!')
      return errors
    },
    selectErrors () {
      const errors = []
      if (!this.$v.select.$dirty) return errors
      !this.$v.select.required && errors.push('Item es requerido')
      return errors
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength &&
        errors.push('El correo como máximo debe tener 30 caracteres')
      !this.$v.name.required && errors.push('Su nombre es requerido')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Debe ser un correo válido')
      !this.$v.email.required &&
        errors.push('Su correo electrónico es requerido')
      return errors
    },
    a1Errors () {
      const errors = []
      if (!this.$v.a1.$dirty) return errors
      !this.$v.a1.required &&
        errors.push('El salón es requerido')
      return errors
    },
    a3Errors () {
      const errors = []
      if (!this.$v.a3.$dirty) return errors
      !this.$v.a3.required &&
        errors.push('El modo de facturación es requerido')
      return errors
    },
    typeErrors () {
      const errors = []
      if (!this.$v.type.$dirty) return errors
      !this.$v.type.required &&
        errors.push('El tipo de reserva es requerida')
      return errors
    },
    phoneErrors () {
      const errors = []
      if (!this.$v.phone.$dirty) return errors
      !this.$v.phone.numeric && errors.push('Debe ser un número válido')
      !this.$v.phone.minLength &&
        errors.push('Al menos 9 números son requeridos')
      !this.$v.phone.required &&
        errors.push('Su número de teléfono es requerido')
      return errors
    },
    dniErrors () {
      const errors = []
      if (!this.$v.dni.$dirty) return errors
      !this.$v.dni.numeric && errors.push('Debe ser un número válido')
      !this.$v.dni.maxLength &&
        errors.push('Su DNI debe tener máximo 8 números')
      !this.$v.dni.required &&
        errors.push('Su número de teléfono es requerido')
      return errors
    },
    countErrors () {
      const errors = []
      if (!this.$v.count.$dirty) return errors
      !this.$v.count.numeric && errors.push('Debe ser un número válido')
      !this.$v.count.maxValue &&
        errors.push('Máximo 50 personas')
      !this.$v.count.required &&
        errors.push('La cantidad es requerida')
      return errors
    },
    dateErrors () {
      const errors = []
      if (!this.$v.date.$dirty) return errors
      !this.$v.date.required && errors.push('La fecha es requerida')
      return errors
    },
    timeErrors  () {
      const errors = []
      if (!this.$v.time.$dirty) return errors
      !this.$v.time.required && errors.push('La hora es requerida')
      return errors
    },
    ...mapState([
      'typename',
      'costoconsumo',
      'costoreserva',
      'costoadicionales',
      'costototal'
    ]),
    count: {
      get () {
        return this.$store.state.count
      },
      set (value) {
        this.$store.commit('updateCount', value)
      }
    },
    checkbox: {
      get () {
        return this.$store.state.checkbox
      },
      set (value) {
        this.$store.commit('updateCheckbox', value)
      }
    },
    type: {
      get () {
        return this.$store.state.type
      },
      set (value) {
        this.$store.commit('updateType', value)
      }
    }
  },
  methods: {
    onInput (val) {
      this.steps = parseInt(val)
    },
    submit () {
      this.$v.$touch()
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.email = ''
      this.a1 = null
      this.a3 = null
      this.select = null
      this.checkbox = []
      this.date = null
      this.time = null
      this.phone = null
      this.dni = null
      this.$store.state.type = null
      this.$store.state.count = null
      this.$store.state.typename = ''
      this.updateReservaCost(this.a1)
      this.updateConsumoCost()
    },
    ...mapActions([
      'increment',
      'decrement'
    ]),
    ...mapMutations([
      'updateCount',
      'updateType',
      'updateConsumoCost',
      'updateReservaCost',
      'updateAdicionalCost'
    ])
  },
  name: 'DadaReservasForms'
}
</script>

<style scoped>
.fontreservas {
  font-family: 'Times New Roman';
  font-size: 2.2vh;
}
.reservastitle {
  font-size: 6.5vh;
}
.btns {
  font-family: 'Bodoni 72';
  font-size: 2.3vh;
  text-transform: initial;
}
.dincondensed {
  font-family: 'DIN Condensed';
}
.bodoni72 {
  font-family: 'Bodoni 72';
}
.timesnewroman {
  font-family: 'Times New Roman';
}
</style>
