<template>
  <router-link to="reservas">
    <div class="btninicio round outline fontsize" ripple>
      <div class="btncontent">
        <slot name="title"></slot>
      </div>
    </div>
  </router-link>
</template>
<style scoped>
a {
  color: white;
  user-select: none;
  text-decoration: none;
}
.btninicio {
  color: #212121;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-flex;
  flex: 0 1 auto;
  justify-content: center;
  outline: 0;
  margin: 15px 8px;
  min-width: 88px;
  align-items: center;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btninicio:hover {
  color: #ffffff;
  background-color: transparent;
}
.round {
  border-radius: 50px;
}
.outline {
  border: 2px solid rgba(255, 255, 255, 0);
}
.outline:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.fontsize {
  font-size: 3vh;
}
.btncontent {
  padding: 1vh 5vh;
}
</style>