<template>
  <v-expansion-panel dark class="elevation-0">
    <v-expansion-panel-content v-for="(drink,i) in carta.bebidas" :key="i" expand-icon="fa-caret-down" ripple style="background: transparent">
      <div slot="header" :id="drink.idid" class="foodtypefont">
        <dada-title :title="drink.type"></dada-title>
      </div>
      <v-card class="grey darken-4">
          <v-layout row wrap align-center align-content-center justify-left>
            <v-flex xs12 sm6 md4 v-for="(list,i) in drink.list" :key="i">
              <v-card-text class="grey darken-4 just-line-break pt-0">
              <div class="listnamefont">
                <dada-title :title="list.name"></dada-title>
              </div>
              <div class="yellow--text text--lighten-3 just-line-break adicionalfont">{{list.adicional}}</div>
              </v-card-text>
            </v-flex>
          </v-layout>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>
<script>
import { mapState } from 'vuex'
import DadaTitle from '@/components/DadaTitle'
import DadaParrafo from '@/components/DadaParrafo'
export default {
  components: {
    DadaParrafo,
    DadaTitle
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapState([
      'carta'
    ])
  },
  name: 'DadaCartaBebida'
}
</script>
<style scoped>
.just-line-break {
  white-space: pre-line;
}
.foodtypefont {
  font-family: 'Times New Roman';
  font-size: 3vh;
  text-transform: uppercase;
}
.listnamefont {
  font-family: 'Times New Roman';
  font-size: 2.5vh;
}
.adicionalfont {
  font-family: Verdana;
  font-size: 1.8vh;
}
</style>
