<template>
  <v-container 
    id="salones" 
    style="padding:0; margin:0; position: relative; overflow-x: hidden" 
    class="white--text"
    fluid
  >
  <v-layout class="salones_title hidden-sm-and-down" style="z-index: 5; position: absolute; right: 0; top: 10%; background: #222222; padding: 2vh 10vh 2vh 10vh">
    <dada-title title="SALONES"></dada-title>
  </v-layout>
  <v-flex xs12 class="text-xs-center salones_title hidden-md-and-up" style="padding: 7vh 0 7vh 0">
    <dada-title title="SALONES"></dada-title>
  </v-flex>
    <v-layout row wrap align-center align-content-center justify-center style="position: relative;" class="fullscreen">
      <v-flex xs12 sm12 md12 class="text-xs-center" style="height:100%;">
        <v-carousel dark style="height:100%">
          <v-carousel-item v-for="salon in salones" :src="salon.image" v-if="salon.image.includes('https://firebasestorage')" :key="salon.id" style="height:100%; width:100%; z-index:2" transition="slide-x-transition" reverse-transition="slide-x-reverse-transition">
            <v-layout class="hidden-xs-only" row wrap align-end align-content-space-around justify-end style="height:100%; padding: 0 5vw 0 5vw">
              <v-flex xs12 sm12 md12 class="text-xs-left titlesize white--text hidden-xs-only" >
                <dada-title :title="salon.name"></dada-title>
              </v-flex>
              <v-flex xs12 sm12 md12 class="text-xs-center white--text">
                <dada-inicio-front-btn v-if="salon.reserva === 'true'">
                  <div slot="title" class="btnfont">
                    <dada-title title="Reservar"></dada-title>
                  </div>
                </dada-inicio-front-btn>
                <div v-else style="height: 54px"></div>
              </v-flex>
              <v-flex xs10 sm9 md7 class="text-xs-right white--text timesnewroman textfont" style="word-wrap: break-word;">
                <dada-parrafo :text="salon.text"></dada-parrafo>
              </v-flex>
            </v-layout>
            <v-layout class="hidden-sm-and-up" row wrap align-center align-content-space-around justify-center style="height:100%; padding: 0">
              <v-flex xs12 sm12 md12 class="text-xs-center titlesizetiny white--text" >
                <dada-title :title="salon.name"></dada-title>
              </v-flex>
              <v-flex xs12 sm12 md12 class="text-xs-center white--text">
                <dada-inicio-front-btn v-if="salon.reserva === 'true'">
                  <div slot="title" class="btnfont">
                    <dada-title title="Reservar"></dada-title>
                  </div>
                </dada-inicio-front-btn>
                <div v-else style="height: 54px"></div>
              </v-flex>
              <v-flex xs10 sm9 md7 class="text-xs-center white--text timesnewroman textfont" style="word-wrap: break-word;">
                <dada-parrafo :text="salon.text"></dada-parrafo>
              </v-flex>
            </v-layout>
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { storage } from '../firebase/firebase'
import DadaTitle from '@/components/DadaTitle'
import DadaInicioFrontBtn from '@/components/DadaInicioFrontBtn'
import DadaParrafo from '@/components/DadaParrafo'
export default {
  components: {
    DadaInicioFrontBtn,
    DadaTitle,
    DadaParrafo
  },
  data () {
    return {
    }
  },
  mounted () {
    console.log('Mounted Salones, loading...')
    let self = this
    for (let i = 0; i < this.salones.length; i++) {
      if (self.salones[i].image.includes('https://firebasestorage')) {
        this.salones[i].image = this.salones[i].image
      } else {
        const iRef = this.salones[i].image
        storage.ref(iRef).getDownloadURL().then(function (url) {
          self.salones[i].image = url
        })
      }
    }
  },
  computed: {
    ...mapState([
      'salones'
    ])
  },
  name: 'DadaInicioSalones'
}
</script>
<style scoped>
.btnfont {
  font-size: 3.5vh;
}
.fullscreen {
  height: 100vh;
  width: 100%;
}
.titlesize {
  font-size: 12vh;
  text-shadow: 5px 5px 5px #353535;
}
.textfont {
  font-size: 3.5vh;
  text-shadow: 5px 5px 5px #353535;
}
.titlesizetiny {
  font-size: 10vh;
}
.salones_title {
  font-size: 12vh;
  align-items: center;
}
.timesnewroman {
  font-family: 'Times New Roman';
}
</style>


