<template>
  <v-container fluid style="padding:0; margin:0; overflow-x: hidden" class="white--text">
    <div style="height: 12vh"></div>
    <v-tabs icons-and-text centered dark color="transparent">
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab to="/carta" class="tabfoodfont">
        <dada-title title="COMIDA"></dada-title>
        <v-icon>restaurant</v-icon>
      </v-tab>
      <v-tab to="/carta/bebida" class="tabfoodfont">
        <dada-title title="TRAGOS"></dada-title>
        <v-icon>local_bar</v-icon>
      </v-tab>
    </v-tabs>
    <div style="height:5vh"></div>
    <v-content style="padding: 0 10vw">
      <router-view/>
    </v-content>
    <div style="height: 10vh"></div>
    <dada-carta-footer></dada-carta-footer>
  </v-container>
</template>
<script>
import DadaCartaFooter from '@/components/DadaCartaFooter'
import DadaTitle from '@/components/DadaTitle'
export default {
  components: {
    DadaCartaFooter,
    DadaTitle
  },
  data () {
    return {
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint'
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  },
  name: 'DadaCarta'
}
</script>
<style scoped>
.tabfoodfont {
  font-family: 'DIN Condensed';
  font-size: 3.6vh;
}
.dincondensed {
  font-family: 'DIN Condensed';
}
.bodoni72 {
  font-family: 'Bodoni 72';
}
.timesnewroman {
  font-family: 'Times New Roman';
}
</style>

