<template>
  <v-container fluid style="padding:0; margin:0; overflow-x: hidden" class="white--text">
    <div style="height: 12vh"></div>
    <dada-reservas-forms></dada-reservas-forms>
    <div style="height: 10vh"></div>
    <v-layout id="layout" row wrap align-center align-content-center justify-center>
      <img :src="layout" alt="Layout DaDA" class="layoutsize"/>
    </v-layout>
    <div style="height: 10vh"></div>
    <dada-reservas-footer></dada-reservas-footer>
  </v-container>
</template>
<script>
import DadaReservasFooter from '@/components/DadaReservasFooter'
import DadaReservasForms from '@/components/DadaReservasForms'
import layout from '../assets/images/layout.svg'
export default {
  components: {
    DadaReservasFooter,
    DadaReservasForms
  },
  data () {
    return {
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint',
      layout: layout
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  },
  name: 'DadaReservas'
}
</script>
<style scoped>
.layoutsize {
  width: 60%;
}
@media only screen and (max-width: 800px)  {
  .layoutsize {
    width: 90%;
  }
}
</style>

