<template>
  <v-container 
    id="front" 
    :style="{ backgroundImage: 'url(' + backdada + ')' }"
    style="padding:0; margin:0" 
    class="white--text bckgnd"
    fluid
  >
  <v-layout row wrap align-center align-content-center justify-center style="height:100%">
    <v-flex xs12 sm12 md12 class="text-xs-center">
      <div class="logosize">
        <svg width="666px" height="215px" viewBox="0 0 666 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Dribble" transform="translate(-67.000000, -193.000000)" fill="#FFFFFF">
                  <g id="logodada" transform="translate(67.000000, 193.000000)">
                      <path d="M3.24950598,1.05212334 L106,3 C129,3.66666667 148.666667,9.83333333 165,21.5 C189.5,39 206.374894,66.215595 206.374894,106.857798 C206.374894,147.5 185.829195,179.404271 165,195 C151.11387,205.397153 131.447203,211.397153 106,213 L3.24950598,214.947877 C1.75950985,214.976123 0.528731112,213.791141 0.500484739,212.301145 C0.500161587,212.284098 0.5,212.267049 0.5,212.25 C0.5,210.669748 1.65698643,209.327683 3.21999799,209.094894 L14.6204243,207.396958 C20.0102758,206.594214 24,201.966269 24,196.516966 L24,18.8918575 C24,13.2671711 19.7567724,8.5485928 14.1636466,7.95357943 L3.23456951,6.79091165 C1.67964458,6.6254941 0.5,5.31369899 0.5,3.75 C0.5,2.25973615 1.70809755,1.0516386 3.1983614,1.0516386 C3.21541075,1.0516386 3.2324597,1.05180018 3.24950598,1.05212334 Z M71,20.6437633 L71.000004,196.63411 C71.000004,202.70924 75.92487,207.634106 82,207.634106 C82.0320672,207.634106 82.0641342,207.633966 82.0962001,207.633686 C97.9521106,207.495013 108.753377,205.783784 114.5,202.5 C125,196.5 153,177.5 153,102.5 C153,27.5 123,17.5 112,13 C106.079794,10.5780974 96.0319345,9.4596642 81.8564223,9.64470033 C75.8378002,9.72326727 71,14.6246285 71,20.6437633 Z" id="Combined-Shape"></path>
                      <polygon id="Path-3" points="229 106.5 321 106.5 321 125.5 229 125.5"></polygon>
                      <path d="M229.5,86.5 L261.5,2 L288.5,2 L320.5,86.5 L295.5,86.5 L288.5,72 L261.5,72 L254,86.5 L229.5,86.5 Z M265,54 L286.5,54 L275.75,28.5 L265,54 Z" id="Combined-Shape"></path>
                      <path d="M343.5,1 C383.166667,0.666666667 405.666667,1.33333333 411,3 C419,5.5 434.796464,15.067392 440,28.5 C447.127162,46.8983275 446,73.7075826 446,106.75 C446,138.504971 446.582584,167.270182 440,185.5 C434.732333,200.088285 418,207.5 411,209.5 C406.333333,210.833333 383.833333,211.833333 343.5,212.5 L343.5,1 Z M375,29 L375,183 L393.5,183 C404.545695,183 413.5,174.045695 413.5,163 L413.5,49 C413.5,37.954305 404.545695,29 393.5,29 L375,29 Z" id="Combined-Shape"></path>
                      <path d="M556.697312,4.44963517 L642.048679,194.322195 C644.246535,199.211543 648.407531,202.944948 653.505669,204.601842 L663.360173,207.804556 C664.636138,208.219245 665.5,209.40834 665.5,210.75 C665.5,211.992641 664.492641,213 663.25,213 L586.75,213 C585.507359,213 584.5,211.992641 584.5,210.75 C584.5,209.462108 585.389305,208.344816 586.644369,208.055889 C594.4865,206.250562 599.938376,202.898598 603,198 C606.333333,192.666667 600.166667,175.5 584.5,146.5 L504.5,146.5 C490.062644,175.757152 485.062644,193.590486 489.5,200 C492.26818,203.998482 497.874441,206.719827 506.318783,208.164036 L506.318779,208.164061 C507.578743,208.379548 508.5,209.471741 508.5,210.75 C508.5,211.992641 507.492641,213 506.25,213 L446.75,213 C445.231217,213 444,211.768783 444,210.25 C444,208.640278 445.111077,207.243598 446.679576,206.881636 L453.75,205.25 C459.874556,203.836641 464.950814,199.573784 467.401711,193.785791 L547.532656,4.54999791 C548.609411,2.00715304 551.543677,0.818652279 554.086522,1.89540716 C555.247746,2.38712165 556.180285,3.29945792 556.697312,4.44963517 Z M544.583461,51.6004027 L510.110885,130.600056 C509.890002,131.106246 510.121289,131.695656 510.62748,131.916539 C510.75363,131.971587 510.889786,132 511.027424,132 L579.972576,132 C580.524861,132 580.972576,131.552285 580.972576,131 C580.972576,130.862362 580.944163,130.726206 580.889115,130.600056 L546.416539,51.6004027 C546.195656,51.094212 545.606246,50.8629246 545.100056,51.0838078 C544.868867,51.1846901 544.684343,51.3692141 544.583461,51.6004027 Z" id="Combined-Shape"></path>
                  </g>
              </g>
          </g>
          </svg>
      </div>
    </v-flex>
    <v-flex xs12 sm12 md12 class="text-xs-center paddingtopbottom">
      <dada-inicio-front-btn>
        <div slot="title" class="btnfont">
          <dada-title title="Reservar"></dada-title>
        </div>
      </dada-inicio-front-btn>
    </v-flex>
  </v-layout>
  <v-flex xs12 sm12 md12 class="text-xs-center" style="margin-top:-9vh">
    <div
      id="arrowdown" 
      @click="$vuetify.goTo('#salones', options)"
    >
      <img :src="arrowbottom" alt="Arrow Down" class="arrowsize"/>
    </div>
  </v-flex>
  </v-container>
</template>
<script>
import DadaInicioFrontBtn from '@/components/DadaInicioFrontBtn'
import arrowbottom from '../assets/icons/arrow_bottom.svg'
import { mapMutations } from 'vuex'
import { storage } from '../firebase/firebase'
import DadaTitle from '@/components/DadaTitle'
export default {
  components: {
    DadaInicioFrontBtn,
    DadaTitle
  },
  data () {
    return {
      arrowbottom: arrowbottom,
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint'
    }
  },
  mounted () {
    console.log('Mounted Bgnd, loading...')
    let self = this
    const bgndRef = 'dada/bgnd.png'
    if (self.backdada.length === 0) {
      storage.ref(bgndRef).getDownloadURL().then(function (url) {
        self.backdada = url
        console.log(self.backdada)
      })
    } else {
      self.backdada = self.backdada
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    },
    backdada: {
      get () {
        return this.$store.state.backdada
      },
      set (value) {
        this.$store.commit('updateBackdada', value)
      }
    },
    logodada: {
      get () {
        return this.$store.state.logodada
      },
      set (value) {
        this.$store.commit('updateLogodada', value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'updateBackdada'
    ])
  },
  name: 'DadaInicioFront'
}
</script>
<style scoped>
.bckgnd {
  position: relative;
  margin: 0 0 0 0;
  top: 0;
  /* Full screen */
  width: 100%;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logosize svg {
  height: 20vh;
  width: auto;
}
.arrowsize {
  height: 5vh;
}
#arrowdown {
  animation: move 1.5s linear infinite;
  cursor: pointer;
}
@keyframes move {
  50% {
    transform: translate(0, -2vh);
  }
}
.btnfont {
  font-family: 'Bodoni 72';
}
</style>

