<template>
  <v-container fluid style="padding:0; margin:0; overflow-x: hidden" class="white--text">
    <dada-inicio-front></dada-inicio-front>
    <dada-inicio-salones></dada-inicio-salones>
    <dada-inicio-eventos></dada-inicio-eventos>
    <dada-inicio-footer></dada-inicio-footer>
  </v-container>
</template>
<script>
import DadaInicioFront from '@/components/DadaInicioFront'
import DadaInicioSalones from '@/components/DadaInicioSalones'
import DadaInicioEventos from '@/components/DadaInicioEventos'
import DadaInicioFooter from '@/components/DadaInicioFooter'
export default {
  components: {
    DadaInicioFront,
    DadaInicioSalones,
    DadaInicioEventos,
    DadaInicioFooter
  },
  data () {
    return {
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint'
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  },
  name: 'DadaInicio'
}
</script>


