<template>
  <span class="insertspan">
    <span class="insertfont" v-for="(char, i) in charText" :key="i">{{char}}</span>
  </span>
</template>
<script>
export default {
  props: ['text'],
  data () {
    return {
      dadatext: this.text,
      charText: []
    }
  },
  methods: {
    convert () {
      this.charText = this.dadatext.split(' ')
    },
    insertbyletter () {
      let spanArray = document.getElementsByClassName('insertfont')
      // Decidir cuantas palabras van a cambiar
      let randomIndexItalic = []
      let randomIndexBold = []
      let italic = spanArray.length / 4
      for (let indexitalic = 0; indexitalic < italic; indexitalic++) {
        randomIndexItalic.push(Math.floor((Math.random() * spanArray.length) + 1))
      }
      let bold = spanArray.length / 5
      for (let indexbold = 0; indexbold < bold; indexbold++) {
        randomIndexBold.push(Math.floor((Math.random() * spanArray.length) + 1))
      }
      // Cambiar las palabras segun la posicion elegida
      for (let i = 0; i < spanArray.length; i++) {
        if (randomIndexItalic.includes(i)) {
          spanArray[i].classList.remove('italic')
          spanArray[i].classList.add('bold')
        } else if (randomIndexBold.includes(i)) {
          spanArray[i].classList.remove('bold')
          spanArray[i].classList.add('italic')
        } else {
          spanArray[i].classList.remove('bold')
          spanArray[i].classList.remove('italic')
        }
      }
    }
  },
  mounted () {
    this.convert()
  },
  updated () {
    this.insertbyletter()
  },
  name: 'DadaParrafo'
}
</script>
<style scoped>
.bold {
  font-family: 'Times New Roman';
  font-weight: bold;
}
.italic {
  font-family: 'Times New Roman';
  font-style: italic;
}
.insertfont {
  padding: 0 2px 0 2px;
}
</style>
