<template>
  <v-container 
    id="eventos" 
    style="padding: 0; margin:0; position: relative; overflow-x: hidden;" 
    class="white--text"
    fluid
  >
  <v-layout class="eventos_title hidden-sm-and-down" style="z-index: 5; position: absolute; left: 0; top: 30%; background:#222222; padding: 2vh 10vh 2vh 10vh">
    <dada-title title="EVENTOS"></dada-title>
  </v-layout>
  <v-layout row wrap align-center align-content-space-around justify-center style="height:100%; position: relative;">
    <v-flex xs12 class="text-xs-center eventos_title hidden-md-and-up" style="padding: 7vh 0 7vh 0">
      <dada-title title="EVENTOS"></dada-title>
    </v-flex>
    <v-flex xs12 class="text-xs-center cursorpointer">
      <carousel :perPage="1" :autoplay="false" :paginationEnabled="false">
        <slide v-for="evento in eventos" :key="evento.id">
          <v-layout row wrap align-top align-content-center justify-center style="padding: 0">
            <v-flex md12 class="text-xs-center hidden-sm-and-down" style="padding: 0">
              <v-card-media class="eventoimage" :src="evento.image" v-if="evento.image.includes('https://firebasestorage')" style="height: 90vh;">
                <v-container fill-height fluid>
                  <v-layout row wrap align-center align-content-center justify-center class="overlay_desc">
                    <v-layout row wrap align-center align-content-center justify-end style="height:100%">
                      <v-flex xs4 style="height:100%">
                        <v-layout row wrap align-center align-content-center justify-center style="height:100%">
                          <v-flex xs12 class="text-xs-center eventonamefont pb-3">
                            <dada-title :title="evento.name"></dada-title>
                          </v-flex>
                          <v-flex xs12>
                            <img :src="calendar" alt="Calendar Icon" class="calendarsize"/>
                          </v-flex>
                          <v-flex xs12 class="diatitlefont">
                            <dada-title :title="evento.date"></dada-title>
                          </v-flex>
                          <v-flex xs12 class="diatitlefont">
                            <dada-title :title="evento.hour"></dada-title>
                          </v-flex>
                          <v-flex xs12 class="costofont">
                            <dada-title :title="evento.typecost"></dada-title>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs4 style="height:100%">
                        <v-layout row wrap align-center align-content-center justify-center style="height:100%">
                          <v-flex xs12 class="text-xs-left descriptionfont" style="white-space: pre-line; font-size:2.2vh; padding: 0 30px 0 0">
                            <dada-parrafo :text="evento.description"></dada-parrafo>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-flex>
            <v-flex sm12 class="text-xs-center hidden-md-and-up hidden-xs-only" style="padding: 0">
              <v-card-media class="eventoimage" :src="evento.image" v-if="evento.image.includes('https://firebasestorage')" height="54vh">
                <v-container fill-height fluid>
                  <v-layout row wrap align-center align-content-center justify-center class="overlay_desc">
                    <v-layout row wrap align-center align-content-center justify-center style="height:100%">
                        <v-flex xs12>
                          <img :src="calendar" alt="Calendar Icon" class="calendarsize"/>
                        </v-flex>
                        <v-flex xs12 class="diatitlefont">
                          <dada-title :title="evento.date"></dada-title>
                        </v-flex>
                        <v-flex xs12 class="diatitlefont">
                          <dada-title :title="evento.hour"></dada-title>
                        </v-flex>
                        <v-flex xs12 class="costofont">
                          <dada-title :title="evento.typecost"></dada-title>
                        </v-flex>
                    </v-layout>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-flex>
            <v-flex xs12 class="text-xs-center hidden-sm-and-up" style="padding: 0">
              <v-card-media class="eventoimage" :src="evento.imagexs" v-if="evento.imagexs.includes('https://firebasestorage')" height="95vh">
                <v-container fill-height fluid>
                  <v-layout row wrap align-center align-content-center justify-center class="overlay_desc">
                    <v-layout row wrap align-center align-content-center justify-center style="height:100%">
                        <v-flex xs12>
                          <img :src="calendar" alt="Calendar Icon" class="calendarsize"/>
                        </v-flex>
                        <v-flex xs12 class="diatitlefont">
                          <dada-title :title="evento.date"></dada-title>
                        </v-flex>
                        <v-flex xs12 class="diatitlefont">
                          <dada-title :title="evento.hour"></dada-title>
                        </v-flex>
                        <v-flex xs12 class="costofont">
                          <dada-title :title="evento.typecost"></dada-title>
                        </v-flex>
                    </v-layout>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-flex>
            <v-layout row wrap align-top align-content-center justify-center>
            <v-flex xs12 sm12 md9 class="text-xs-center" style="padding: 2vh 1vh">
              <v-layout row wrap align-top align-content-center justify-center class="hidden-sm-and-up">
                <span style="padding: 0 7px">
                  <img :src="calendar" alt="Calendar Icon" class="calendarsize"/>
                </span>
                <span style="padding: 0 7px">
                  <div class="text-xs-left fechafont">
                    <dada-title :title="'Día: ' + evento.date"></dada-title>
                  </div>
                  <div class="text-xs-left fechafont">
                    <dada-title :title="'Hora: ' + evento.hour"></dada-title>
                  </div>
                </span>
              </v-layout>
              <div style="padding-bottom: 1vh" class="hidden-md-and-up"></div>
              <div class="text-xs-center eventonamefont hidden-xs-only hidden-md-and-up"> 
                <dada-title :title="evento.name"></dada-title>
              </div>
              <div class="text-xs-center eventonamefont hidden-sm-and-up"> 
                <dada-title :title="evento.name"></dada-title>
              </div>
              <div class="costofont hidden-md-and-up">
                <dada-title :title="evento.typecost"></dada-title>
              </div>
              <div style="padding-bottom: 2vh" class="hidden-md-and-up"></div>
              <div class="text-xs-left descriptionfont hidden-xs-only hidden-md-and-up" style="white-space: pre-line;">
                <dada-parrafo :text="evento.description"></dada-parrafo>
              </div>
              <div class="text-xs-left descriptionfont hidden-sm-and-up" style="white-space: pre-line;">
                <dada-parrafo :text="evento.description"></dada-parrafo>
              </div>
              <div style="padding-bottom: 2vh" class="hidden-xs-only hidden-md-and-up"></div>
              <v-layout row wrap align-top align-content-center justify-center class="hidden-xs-only hidden-md-and-up">
                <span style="padding: 0 7px">
                  <img :src="calendar" alt="Calendar Icon" class="calendarsize"/>
                </span>
                <span style="padding: 0 7px">
                  <div class="text-xs-left fechafont">
                    <dada-title :title="'Día: ' + evento.date"></dada-title>
                  </div>
                  <div class="text-xs-left fechafont">
                     <dada-title :title="'Hora: ' + evento.hour"></dada-title>
                  </div>
                </span>
              </v-layout>
            </v-flex>
            </v-layout>
          </v-layout>
        </slide>
      </carousel>
      
      <div style="padding: 7vh 0 7vh 0" class="hidden-xs-only hidden-md-and-up"></div>
    </v-flex>
  </v-layout>
  
  </v-container>
</template>
<script>
import calendar from '../assets/icons/calendar.svg'
import { mapState } from 'vuex'
import { storage } from '../firebase/firebase'
import DadaTitle from '@/components/DadaTitle'
import DadaParrafo from '@/components/DadaParrafo'
export default {
  components: {
    DadaTitle,
    DadaParrafo
  },
  data () {
    return {
      calendar: calendar,
      active: false
    }
  },
  mounted () {
    console.log('Mounted Eventos, loading...')
    let self = this
    for (let i = 0; i < self.eventos.length; i++) {
      if (self.eventos[i].image.includes('https://firebasestorage')) {
        self.eventos[i].image = self.eventos[i].image
      } else if (self.eventos[i].imagexs.includes('https://firebasestorage')) {
        self.eventos[i].imagexs = self.eventos[i].imagexs
      } else {
        const iRef = self.eventos[i].image
        const iRefxs = self.eventos[i].imagexs
        storage.ref(iRef).getDownloadURL().then(function (url) {
          self.eventos[i].image = url
        })
        storage.ref(iRefxs).getDownloadURL().then(function (url) {
          self.eventos[i].imagexs = url
        })
      }
    }
  },
  computed: {
    ...mapState([
      'eventos'
    ])
  },
  methods: {
    mouseOver: function () {
      this.active = 'true'
    }
  },
  name: 'DadaInicioEventos'
}
</script>
<style scoped>
#just-line-break {
  white-space: pre-line;
}
.calendarsize {
  height: 7.8vh;
}
.eventos_title {
  font-size: 12vh;
  align-items: center;
}
.diatitlefont {
  font-size: 4.5vh;
}
.eventonamefont {
  font-size: 7vh;
  text-transform: uppercase;
}
.descriptionfont {
  font-family: 'Times New Roman';
  font-size: 2.5vh;
}
.fechafont {
  font-size: 3vh;
}
.costofont {
  font-size: 4vh;
}
.cursorpointer {
  cursor: pointer;
}
.eventoimage {
  position: relative;
  z-index: 0;
  vertical-align: middle;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.overlay_desc {
  background: RGBA(0, 0, 0, 0.6);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.eventoimage:hover >>> .overlay_desc { 
  display: flex;
} 
</style>
