<template>
  <div id="insertspan">
    <span class="insertfont dincondensed" v-bind:class="{ bodoni72: Math.random() >= 0.5 }" v-for="(char, i) in charTitle" :key="i">{{char}}</span>
  </div>
</template>
<script>
export default {
  props: ['title'],
  data () {
    return {
      dadatitle: this.title,
      charTitle: [],
      isActive: false
    }
  },
  methods: {
    convert () {
      this.charTitle = this.dadatitle.split('')
    }
  },
  mounted () {
    this.convert()
  },
  name: 'DadaTitle'
}
</script>
<style scoped>
.dincondensed {
  font-family: 'DIN Condensed';
}
.bodoni72 {
  font-family: 'Bodoni 72';
}
.insertfont {
  padding: 0 1px 0 1px;
}
</style>
