<template>
  <v-footer height="auto" class="shadowfooter">
    <v-card
      flat
      tile
      class="white--text text-xs-center"
      style="background: #1E1E1E"
      ripple
    >
      <v-layout row wrap align-center align-content-center justify-center>
        <v-flex xs12 sm6 md4 class="">
          <v-card-text class="white--text text-xs-center">
            <v-card-text class="white--text pt-0 pb-0">
              <img :src="logodada" alt="Logo Dada" class="logosize"/>
            </v-card-text>
            <v-card-text class="white--text pt-1 pb-1 dadadescription">
              <dada-parrafo :text="dadadescription"></dada-parrafo>
            </v-card-text>
          </v-card-text>
        </v-flex>
        <v-flex xs12 sm6 md4 class="">
          <v-card-text class="white--text text-xs-center bodoni72">
            <v-layout row wrap align-center align-content-center justify-center class="pt-0 pb-0">
              <v-flex xs6>
                <div class="pb-2"><router-link to="/"><dada-title title="INICIO"></dada-title></router-link></div>
                <div class="pb-2"><router-link to="carta"><dada-title title="LA CARTA"></dada-title></router-link></div>
              </v-flex>
              <v-flex xs6>
                <div @click="$vuetify.goTo('#forms', options)" class="pointer pb-2"><dada-title title="FORMULARIO"></dada-title></div>
                <div @click="$vuetify.goTo('#layout', options)" class="pointer pb-2"><dada-title title="LAYOUT"></dada-title></div>
              </v-flex>
            </v-layout>
            <v-card-text class="white--text pt-2 pb-0">
              <img :src="horariosdada" alt="Horarios Dada" class="horariossize"/>
            </v-card-text>
          </v-card-text>
        </v-flex>
        <v-flex xs12 sm6 md4 class="text-xs-center timesnewroman">
          <v-card-text class="white--text text-xs-center">
            <v-card-text class="white--text pt-1 pb-1">
              <strong class="title dincondensed"><dada-title title="¡INFÓRMATE MÁS EN NUESTRAS REDES SOCIALES!"></dada-title></strong>
              <v-spacer></v-spacer>
                <v-btn
                  v-for="icon in icons"
                  :key="icon.id"
                  icon
                  class="mx-3 white--text"
                  :href="icon.link"
                  target="_blank"
                >
                  <v-icon size="24px">{{ icon.icon }}</v-icon>
                </v-btn>
            </v-card-text>
            <v-card-text class="white--text pt-1 pb-1">
              <div style="font-size: 2.1vh">
                <v-icon color="white" class="mr-3 emailsize">fas fa-envelope</v-icon>
                {{email}}
              </div>
            </v-card-text>
            <v-card-text class="white--text pt-1 pb-1">
              <v-btn icon light href="https://goo.gl/ZkzfGS" target="_blank">
                <img :src="placeholdericon" alt="Place Holder" class="placeholdersize"/>
              </v-btn>
              <span style="font-size: 2vh" class="ml-2">
                <dada-parrafo :text="address"></dada-parrafo>
              </span>
            </v-card-text>
          </v-card-text>
        </v-flex>
        <v-flex xs12 sm12 md12 class="bodoni72">
          <v-card-text class="black--text grey lighten-5 pt-2 pb-2" style="">
              <strong> &copy; {{ new Date().getFullYear() }} — DaDA</strong>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card>
  </v-footer>
</template>
<script>
import logodada from '../assets/images/logodada.svg'
import horariosdada from '../assets/images/horarios.svg'
import mapsdada from '../assets/images/mapsdada.png'
import placeholdericon from '../assets/icons/placeholder.svg'
import DadaTitle from '@/components/DadaTitle'
import DadaParrafo from '@/components/DadaParrafo'
export default {
  components: {
    DadaParrafo,
    DadaTitle
  },
  data: () => ({
    duration: 800,
    offset: -100,
    easing: 'easeOutQuint',
    logodada: logodada,
    horariosdada: horariosdada,
    mapsdada: mapsdada,
    placeholdericon: placeholdericon,
    email: 'reservas@dada.com.pe',
    icons: [
      {
        icon: 'fab fa-facebook',
        link: 'https://www.facebook.com/DaDABarranco/'
      },
      {
        icon: 'fab fa-instagram',
        link: 'https://www.instagram.com/dada_restobar/'
      }
    ],
    dadadescription: 'DaDA nace de una profunda emoción que quiere reformar y poner a prueba la esencia misma del arte y la cultura. Hay mucho que amar sobre este fantástico Restobar: la decoración, la amabilidad del personal y, por supuesto, el trago y la comida. ¡Te invitamos a que des un vistazo a DaDA si te encuentras en necesidad de inspiración.',
    address: 'Av. San Martin 154, Barranco, Perú',
    horarios: [
      {
        horas: 'de 19:00 a 1:00',
        dias: 'Martes y Miércoles'
      },
      {
        horas: 'de 15:00 a 3:00',
        dias: 'Jueves, Viernes y Sábados'
      }
    ]
  }),
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  },
  name: 'DadaReservasFooter'
}
</script>
<style scoped>
.shadowfooter {
  -webkit-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
}
.logosize {
  height: 8vh;
}
.horariossize {
  height: 11vh;
}
.mapssize {
  height: 35vh;
}
.placeholdersize {
  height: 4vh;
}
a {
  color: white;
  user-select: none;
  text-decoration: none;
  margin: 0;
}
img:hover {
  color: red;
}
.pointer {
  cursor: pointer;
}
.marginTB {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh; 
}
.dadadescription {
  font-family: 'Times New Roman';
  word-wrap: break-word;
}
.bodoni72 {
  font-family: 'Bodoni 72';
}
.timesnewroman {
  font-family: 'Times New Roman';
}
.dincondensed {
  font-family: 'DIN Condensed';
}
</style>
