<template>
  <v-app class="noSelect" v-if="!loading && !loading2 && !loading3">
    <v-toolbar dark app style="z-index: 10">
      <img :src="logodada" alt="Logo Dada" class="logosize hidden-xs-only"/>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          v-for="item in items"
          :key="item.id"
          :to="item.link"
          flat
          class="tabfont"
        >
          <dada-title :title="item.title"></dada-title>
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-btn icon light href="https://www.facebook.com/DaDABarranco/" target="_blank">
        <img :src="iconFb" alt="Fb Icon" class="iconFbSize"/>
      </v-btn>
      <v-btn icon light href="https://www.instagram.com/dada_restobar/" target="_blank">
        <img :src="iconInstagram" alt="Instragram Icon" class="iconInstagramSize"/>
      </v-btn>
    </v-toolbar>
    <v-content fluid style="margin:0; padding:0">
      <router-view></router-view>
    </v-content>
  </v-app>
  <div v-else>
    <v-layout row wrap align-content-center align-center justify-center class="fullscreen white--text">
      <img :src="logodada" alt="Logo Dada" class="logosizebig"/>
      <v-flex xs12 class="text-xs-center titleloading pt-5 pb-5">Loading...</v-flex>
    </v-layout>
  </div>
</template>
<script>
import logodada from './assets/images/logodada.svg'
import iconFb from './assets/icons/fb_icon.svg'
import iconInstagram from './assets/icons/instagram_icon.svg'
import { salonesRef, eventosRef, cartaRef } from './firebase/firebase'
import { mapMutations } from 'vuex'
import DadaTitle from '@/components/DadaTitle'
export default {
  components: {
    DadaTitle
  },
  data () {
    return {
      logodada: logodada,
      iconFb: iconFb,
      iconInstagram: iconInstagram,
      items: [
        { title: 'INICIO', link: '/' },
        { title: 'LA CARTA', link: '/carta' },
        { title: 'RESERVAS', link: '/reservas' }
      ],
      loading: true,
      loading2: true,
      loading3: true
    }
  },
  mounted () {
    let self = this
    console.log('Mounted, loading...')
    salonesRef.on('value', function (snap) {
      const allSalones = snap.val()
      self.updateSalones(allSalones)
      self.loading = false
    })
    eventosRef.on('value', function (snap) {
      const allEventos = snap.val()
      self.updateEventos(allEventos)
      self.loading2 = false
    })
    cartaRef.on('value', function (snap) {
      const allCarta = snap.val()
      self.updateCarta(allCarta)
      self.loading3 = false
    })
  },
  methods: {
    ...mapMutations([
      'updateSalones',
      'updateEventos',
      'updateCarta'
    ])
  },
  name: 'App'
}
</script>
<style scoped>
@font-face {
  font-family: 'DIN Condensed';
  src: url('./assets/fonts/DIN_Condensed_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('./assets/fonts/Bodoni_72.ttf') format('truetype');
}
@font-face {
  font-family: 'Times New Roman';
  src: url('./assets/fonts/Times_New_Roman.ttf') format('truetype');
}
.logosize {
  height: 3vh;
}
.logosizebig {
  height: 20vh;
}
.titleloading {
  font-size: 3vh;
}
.iconFbSize {
  height: 5vh;
}
.iconInstagramSize {
  height: 5vh;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#app {
  background-color: #212121;
}
.tabfont {
  font-size: 2.5vh;
}
.dincondensed {
  font-family: 'DIN Condensed';
}
.bodoni72 {
  font-family: 'Bodoni 72';
}
.timesnewroman {
  font-family: 'Times New Roman';
}
.fullscreen {
  height: 100vh;
  width: 100vw;
  background-color: #212121;
}
</style>

